NODE_ENV=development
PORT=8003
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/social_media_report?schema=public
CONTENT_SERVICE_URL=http://localhost:8002
USER_SERVICE_URL=http://localhost:8001
