# dependencies
node_modules

# output and caches
out
dist
coverage
*.tsbuildinfo

# environment files
.env
.env.example
.env.development.local
.env.test.local
.env.production.local
.env.local

# editor and OS files
.idea
.DS_Store
