NODE_ENV=development
PORT=8005
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/social_media_project_chat?schema=public"
USER_SERVICE_URL=http://localhost:8001

S3_ENDPOINT=http://localhost:9000
S3_ACCESS_KEY_ID=minioadmin
S3_SECRET_ACCESS_KEY=minioadmin
S3_DISCUSSION_BUCKET=social-media-project-discussion
