NODE_ENV=development
PORT=8001
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/social_media_project_user?schema=public
NOTIFICATION_SERVICE_URL=http://localhost:8004
SESSION_SERVICE_URL=http://localhost:8006
S3_ENDPOINT=http://localhost:9000
S3_ACCESS_KEY_ID=minioadmin
S3_SECRET_ACCESS_KEY=minioadmin
S3_BUCKET=social-media-project
S3_PUBLIC_URL=http://localhost:9000/social-media-project
